<launch>
	<node pkg="rgbd_shrinker"  name="rgbd_shrinker"       type="rgbd_shrinker_nd"  output="screen" required="true"></node>
	<node pkg="altitude_cntrl" name="altitude_controller" type="altitude_cntrl_nd" output="screen" required="true">
		<rosparam file="$(find airdrone_launch)/param.yaml" command="load" ns = "/" />
	</node>
	
	<node pkg="vel_cntrl"      name="velocity_controller" type="vel_cntrl_nd"      output="screen" required="true">
		<rosparam file="$(find airdrone_launch)/param.yaml" command="load" ns = "/" />
	</node>
	
	<node pkg="action_server"  name="action_server"       type="action_server_nd"  output="screen">
		<rosparam file="$(find airdrone_launch)/param.yaml" command="load" ns = "/" />
	</node>
	<node pkg="action_client"  name="action_client"       type="main.py"  output="screen"></node>
	<node pkg="smach_viewer"  name="smach_viewer"       type="smach_viewer.py"  output="screen"></node>
</launch>
