<launch>
  <arg name="input_depth_points_topic"   default="/sensors/kinect/depth/points"/>
  <arg name="fixed_frame"                default="/odom"/>
  <arg name="base_footprint_frame"       default="/base_footprint"/>
  <arg name="base_stabilized_frame"      default="/base_stabilized"/>
  <arg name="base_link_frame"            default="/base_link"/>
  <arg name="kinect_depth_optical_frame" default="/kinect_depth_optical_frame"/>
  <arg name="input_sonar_topic"          default="/sensors/sonar_height"/>
  <arg name="input_imu_topic"            default="/sensors/apm/imu"/>
  <arg name="output_lm_topic"            default="/ransac_slam/lm"/>
  <arg name="flat_cloud_min"             default="-0.3"/>
  <arg name="flat_cloud_max"             default="-0.2"/>
  <arg name="imu_used"                   default="false"/>
  <arg name="odom_used"                  default="true"/>
  <arg name="output_type"                default="screen"/>

  <node pkg="ransac_slam" name="ransac_slam" type="ransac_slam_nd" output="$(arg output_type)" respawn="true">
    <rosparam file="$(find airdrone_launch)/param.yaml" command="load" ns = "/" />
    <param name="input_cloud_topic"           value="$(arg input_depth_points_topic)"/>
    <param name="publish_clouds"              value="true"/>
    <param name="output_cloud_topic"          value="/ransac_slam/flat_cloud"/>
    <param name="output_cloud_shrinked_topic" value="/ransac_slam/shrinked_flat_cloud"/>
    <param name="visualization_topic"         value="/ransac_slam/markers"/>
    <param name="fixed_frame"                 value="$(arg fixed_frame)"/>
    <param name="base_frame"                  value="$(arg base_stabilized_frame)"/>
    <param name="publish_tf"                  value="true"/>
    <param name="output_frame"                value="/ransac_slam/tf_output"/>
    <param name="use_sonar_data"              value="true"/>
    <param name="input_sonar_topic"           value="$(arg input_sonar_topic)"/>
    <param name="output_odom_topic"           value="/ransac_slam/odom_out"/>
    <param name="kinect_depth_optical_frame"  value="$(arg kinect_depth_optical_frame)"/>
    <param name="output_lm_topic"             value="$(arg output_lm_topic)"/>
    <param name="flat_cloud_min"              value="$(arg flat_cloud_min)"/>
    <param name="flat_cloud_max"              value="$(arg flat_cloud_max)"/>
  </node>
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="$(arg output_type)">
    <param name="output_frame"   value="$(arg fixed_frame)"/>
    <param name="freq"           value="30.0"/>
    <param name="sensor_timeout" value="1"/>
    <param name="publish_tf"     value="false" />
    <param name="odom_used"      value="$(arg odom_used)"/>
    <param name="imu_used"       value="$(arg imu_used)"/>
    <param name="vo_used"        value="false"/>
    <param name="debug"          value="false"/>
    <param name="self_diagnose"  value="false"/>
    <remap from="/vo"            to="/ransac_slam/odom_out" />
    <remap from="/imu_data"      to="$(arg input_imu_topic)" />
  </node>
</launch>
