<launch>

  <include file="$(find ccny_launch)/launch/ccny_rgbd.launch"></include>
  <!--include file="$(find roscopter)/launch/roscopter.launch"></include-->

  <node pkg="tf" type="static_transform_publisher" name="base_link2camera_link" args="0 0 0 0 0 0 base_link camera_link 30" />
  <!--node pkg="tf" type="static_transform_publisher" name="base_link2imu_link" args="0 0 0 -2.0 0 0 base_link imu_link 60" /-->

  <node pkg="tf_manager" type="tf_manager_nd" name="airdrone_tf_manager"/>

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="0.3"/>
    <param name="publish_tf" value="false" />
    <param name="odom_used" value="false"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>

    <remap from="/vo" to="/ekf_vo" />
    <remap from="/imu_data" to="/apm/imu" />
  </node>



</launch>
