<launch>
  <!-- Start kinect driver -->
  <include file="$(find freenect_launch)/launch/freenect.launch"></include>

  <!-- Necessary tf transforms -->
  <node pkg="tf" type="static_transform_publisher" name="base_link2camera_link"          args="0 0 0 0 0 0 base_link camera_link          30" />
  <node pkg="tf" type="static_transform_publisher" name="base_stabilized2base_link"      args="0 0 0 0 0 0 base_stabilized base_link      30" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint2base_stabilized" args="0 0 0 0 0 0 base_footprint base_stabilized 30" />
  <node pkg="tf" type="static_transform_publisher" name="odom2base_footprint"            args="0 0 0 0 0 0 nav  base_footprint            30" />
  <!--<node pkg="tf_manager" type="tf_manager_nd"      name="airdrone_tf_manager"/>-->

  <arg name="input_depth_image_raw_topic"   default="/camera/depth/image_raw"/>
  <arg name="input_depth_camera_info_topic" default="/camera/depth/camera_info"/>
  <arg name="input_rgb_image_raw_topic"     default="/camera/rgb/image_raw"/>
  <arg name="input_rgb_camera_info_topic"   default="/camera/rgb/camera_info"/>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" respawn="true"> 
    <param name="output_frame_id" value="/camera_depth_frame"/>
    <param name="scan_height"     value="200"/> 
    <param name="scan_time"       value="0.033"/>
    <param name="range_min"       value="0.45"/>
    <param name="range_max"       value="10.0"/>
    <remap from="/image"       to="$(arg input_depth_image_raw_topic)"/>
    <remap from="/camera_info" to="$(arg input_depth_camera_info_topic)"/>
    <remap from="/scan"        to="/scan_kinect"/>
  </node>

 
  <!-- Hector vo -->
  <include file="$(find slam_hec)/launch/mapping.launch">
    <arg name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame"/>
    <arg name="base_frame"                            value="base_stabilized"/>
    <arg name="odom_frame"                            value="nav"/>
    <arg name="pub_map_odom_transform"                value="true"/>
    <arg name="scan_subscriber_queue_size"            value="5"/>
    <arg name="scan_topic"                            value="/scan_kinect"/>
    <arg name="map_size"                              value="2048"/>
  </include>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(find slam_hec)/maps"/> 
  </include>

  <!-- Start rviz visualization with preset config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_hec)/launch/hector_slam.rviz"/>
</launch>
