<?xml version="1.0"?>

<launch>
   <arg name="name" default="quadrotor"/>
   <arg name="model" default=""/>
   <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
   <arg name="x" default="0.0"/>
   <arg name="y" default="0.0"/>
   <arg name="z" default="0.0"/>
   <arg name="R" default="1"/>
   <arg name="P" default="1"/>
   <arg name="Y" default="1"/>

   <!-- send the robot XML to param server -->
   <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />
   <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

   <!-- push robot_description to factory and spawn robot in gazebo -->
   <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
     args="-param robot_description
           -urdf
           -x $(arg x)
           -y $(arg y)
           -z $(arg z)
           -R $(arg R)
           -P $(arg P)
           -Y $(arg Y)
           -model $(arg name)"
     respawn="false" output="screen"/>
     
   <!-- start robot state publisher -->
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
     <param name="publish_frequency" type="double" value="50.0" />
   </node>

   <!-- publish state and tf -->
   <node name="ground_truth_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
     <param name="odometry_topic" value="ground_truth/state" />
     <param name="frame_id" value="/world" />
     <param name="tf_prefix" value="$(arg tf_prefix)"/>
   </node>


   <!-- spawn controller -->
   <arg name="use_ground_truth_for_control" default="true" />
   <group if="$(arg use_ground_truth_for_control)">
     <param name="controller/state_topic" value="" />
     <param name="controller/imu_topic" value="" />
   </group>
   <group unless="$(arg use_ground_truth_for_control)">
     <param name="controller/state_topic" value="state" />
     <param name="controller/imu_topic" value="imu" />
   </group>

   <rosparam file="$(find airdrone_gazebo)/drone/param/controller.yaml" />
   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="controller/twist"/>

   <arg name="motors" default="robbe_2827-34_epp1045" />
   <rosparam command="load" file="$(find airdrone_gazebo)/drone/param/quadrotor_aerodynamics.yaml" />
   <rosparam command="load" file="$(find airdrone_gazebo)/drone/param/$(arg motors).yaml" />

</launch>
